// Super-Nav
// =============================================================================
@import "../core";

@mixin arbor-image-link (
  $side-padding: 15px
) {
    .image-link {
        display: flex;

        &:hover {
            .image-link__text {
                color: swatch('ink');
            }
        }

        &__icon-container {
            @include flex-inline;
            position: relative;

            // TODO: When we move from Open Sans to Atlas, uncomment bottom: 1px
            //bottom: 1px;
        }

        &__text {
            margin-left: 10px;
            color: swatch('stone');
        }
    }
}

@if $arbor-output-classes {
    @include arbor-image-link;
}
